<template>
    <div class="uk-height-1-1 uk-flex uk-flex-column uk-container">
        <div class="uk-flex-1 uk-flex uk-flex-center uk-flex-middle">
            <div class="uk-width-1-1 uk-width-medium@s uk-text-center">
                <h1 class="uk-heading-small">Sign In</h1>
                <form @submit.prevent="submitLogin({email, password})">
                    <div class="uk-margin">
                        <input
                            class="uk-input"
                            type="email"
                            placeholder="Email"
                            v-model="email"
                        >
                    </div>
                    <div class="uk-margin">
                        <input
                            class="uk-input"
                            type="password"
                            placeholder="Password"
                            v-model="password"
                        >
                    </div>
                    <div class="uk-margin">
                        <button class="uk-button uk-button-primary" type="submit">
                            Sign In
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <footer class="uk-section uk-section-xsmall uk-text-center uk-text-muted">
            Copyright &copy; 2019 Luis Medina
        </footer>
    </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'

export default {
    data: () => {
        return {
            email: '',
            password: ''
        }
    },
    computed: {
        ...mapState('auth', ['isLogged', 'token'])
    },
    methods: {
        ...mapActions({
            'submitLogin': 'auth/doLogin'
        }),
    }
}
</script>
